@using BagelsR.Models
@model BagelsR.Models.Bagel
@*The model on this page is a Bagel object*@

<!DOCTYPE html>
<html>
    <head>
        <title>Bagels. Reimagined.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="~/css/styles.css" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/a26d2ada82.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="/"><i class="fa fa-fw fa-home icons"></i> Home</a>
            <a href="/Bagels/Index"><i class="fas fa-dot-circle"></i> Bagels</a>
            <a href="/Toppings/Index"><i class="fas fa-pepper-hot"></i> Toppings </a>
        </div>
        <div class="container">
            <h1>Bagel: @Model.Flavor</h1>
            <p><strong>Suggested Toppings: </strong>@Model.SuggestedToppings</p>
            
            <button class="btn btn-default">@Html.ActionLink("Edit This Bagel", "Edit", new { id = @Model.BagelId })</button>
            <button class="btn btn-default">@Html.ActionLink("Delete This Bagel", "Delete", new { id = @Model.BagelId })</button>
            
        </div>
    </body>
</html>